.f-container {
    width: 930px;
    margin: auto;
}

.f-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.f-right-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: 2.5rem;
    padding-top: 3.75rem;
    border-left-width: 1px;
    color: white;
    border-color: white;
    gap: 7.5rem;
}

.f-right-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.f-right-desc {
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.f-right-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.f-right-logo img {
    width: 35%;
}

.f-right-link{
    width: 50%;
    font-size: 11.2px;
    line-height: 1.3;
    letter-spacing: 0.01em;
}

.f-right-list {
    width: fit-content;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
}

.f-right-list li a{
    --tw-text-opacity: 1;
    color: rgb(131 126 126 / var(--tw-text-opacity));
    position: relative;
    z-index: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid transparent;
    outline-offset: 2px;
    font-family: FoundersGroteskMono, Monaco, monospace;
}

.f-button_underline::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentcolor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .6s cubic-bezier(.77,0,.175,1);
    pointer-events: none;
}

.f-right-social{
    width: 50%;
}

.f-right-social ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    
}

.f-right-social ul li a svg{
    width: 1.5rem;
    height: 1.5rem;
}


.f-term-section-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 9.5px;
    line-height: 2;
   
    --tw-text-opacity: 1;
    color: rgb(131 126 126 / var(--tw-text-opacity));
}

.f-term-section-container ul{
    font-family: FoundersGroteskMono, Monaco, monospace;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    letter-spacing: .1em;
    gap: 2.25rem;
   
}
.f-term-section-container ul li a{
    --tw-text-opacity: 1;
    color: rgb(131 126 126 / var(--tw-text-opacity));
}




/* left */

.f-left-section{
    width: 50%;
    padding-left: 3.75rem;
    border-left-width: 4px;
}

.f-left-dec{
    margin-bottom: 1rem;
}

.f-left-dec h2{
    color: white;
    font-size: 54.4px;
    font-family: FoundersGrotesk, Arial, sans-serif;
    line-height: .87;
    letter-spacing: -.02em;
    margin-bottom: .3rem;
    width: 50%;
}
.f-left-dec p{
    margin-top: 1.25rem;
    font-size: 11.2px;
    width: 85%;
    line-height: 1.3;
    letter-spacing: .01em;
}

.f-left-submit{
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}

.f-left-sub-desc{
    width: 100%;
    position: relative;

}

.f-left-sub-desc input{
    font-family: FoundersGroteskMono, Monaco, monospace;
    height: 100%;
    width: 100%;
     border-top-width: 0px;
     border-right-width: 0px;
     border-left-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: hsla(0, 2%, 50%, .2);
    background-color: transparent;
    font-size: 9.6px;
    line-height: 1.2;
    letter-spacing: -.04em;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.f-left-button{
    display: inline-flex;
    cursor: pointer;
    position: relative;
    z-index: 0;
    height: 3rem;
    padding: .75rem 3.25rem .75rem 1.5rem;
    border-radius: 5.6rem;
    color: #fff;
    width: fit-content;
    font-family: FoundersGroteskMono, Monaco, monospace;
    font-size: 9.6px;
    line-height: 1.2;
    letter-spacing: -.04em;
    text-transform: uppercase;
    --stroke-opacity:0.2;
    border: 1px solid rgba(255, 255, 255, var(--stroke-opacity, 1));
    align-items: center;
    justify-content: center;
    outline: 2px solid transparent;
    outline-offset: 2px;
    background: transparent;
}