.xbot-container {
  --bs-gutter-x: 2rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;
}

.font-mono {
  font-family: FoundersGroteskMono, Monaco, monospace;
}

.font-grot{
  font-family: FoundersGrotesk, Arial, sans;
}

.text-grey {
  --tw-text-opacity: 1;
  color: rgb(131 126 126 / var(--tw-text-opacity));
}

.border-grey {
  --tw-border-opacity: 1;
  border-color: rgb(131 126 126 / var(--tw-border-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

a {
  text-decoration: none;
}

.d-none {
  display: none !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));

}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}





@media (min-width: 1400px) {
  .xbot-container {
    max-width: 1320px;
  }
}

@media (min-width: 1200px) {
  .h1, h1 {
      font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .d-sm-flex {
    display: flex !important;
  }

  .d-sm-none {
    display: none !important;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .offset-sm-1 {
    margin-left: 8.33333333%;
  }
}