*, :after, :before {
  box-sizing: border-box;
}

:root {
  --gradient: conic-gradient(
    from 90deg at 50% 50%,
    rgb(251, 55, 60),
    rgba(252, 114, 28, 1),
    rgba(255, 220, 0, 1),
    rgba(27, 206, 255, 1),
    rgba(42, 107, 255, 1),
    rgba(217, 41, 255, 1),
    rgba(255, 10, 92, 1)
  );
}

body {
  display: flex;
  flex-direction: column;
  background: #050505;
  font-family: "aktiv-grotesk", sans-serif;
}

img, svg {
  vertical-align: middle;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border-radius: 0;
}
button, select {
  text-transform: none;
  
}